@CHARSET "UTF-8";

html {
	background-color: #FFFFFF;
}

body {
}

.title {
	width: 30%;
	height: 30%;
	font-family: TicTacToe;
	font-size: 150%;
	background-color: red;
}

.header {
	margin: auto;
	width: 70%;
}

.center {
	margin: auto;
	width: 70%;
}

.settings {
	margin: auto;
	width: 30%;
	font-family: dosis;
}

.logo {
	width: 70%;
	height: 70%;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.wrapper {
    text-align: center;
}

.button {
    position: absolute:
    top: 50%;
}

table {
	margin-left:auto; 
    margin-right:auto;
	border: 2px solid black;
	border-collapse: collapse;
}

td {
	width: 55px;
	height: 55px;
	text-align: center;
	border: 1px solid black;
}

.box {
	width: 60px;
	height: 60px;
	text-align: center;
	vertical-align: middle;
	padding: 0px;
}
