@CHARSET "UTF-8";

.title {
	width: 30%;
	height: 30%;
	font-family: TicTacToe;
	font-size: 150%;
	background-color: red;
}

.header {
	margin: auto;
	width: 70%;
}

.center {
	margin: auto;
	width: 70%;
}

.settings {
	margin: auto;
	width: 50%;
	font-family: dosis;
}

.logo {
	width: 70%;
	height: 70%;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.wrapper {
	text-align: center;
}

.button {
	position: absolute       :
	width: 60px;
	top: 50%;
}

.box {
	width: 60px;
	height: 60px;
	text-align: center;
	vertical-align: middle;
	padding: 0px;
	cursor: pointer;
	cursor: hand;
}

.serverButton {
	-moz-box-shadow: inset 0px 1px 0px 0px #dcecfb;
	-webkit-box-shadow: inset 0px 1px 0px 0px #dcecfb;
	box-shadow: inset 0px 1px 0px 0px #dcecfb;
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #bddbfa), color-stop(1, #80b5ea));
	background: -moz-linear-gradient(top, #bddbfa 5%, #80b5ea 100%);
	background: -webkit-linear-gradient(top, #bddbfa 5%, #80b5ea 100%);
	background: -o-linear-gradient(top, #bddbfa 5%, #80b5ea 100%);
	background: -ms-linear-gradient(top, #bddbfa 5%, #80b5ea 100%);
	background: linear-gradient(to bottom, #bddbfa 5%, #80b5ea 100%);
	background-color: #bddbfa;
	-moz-border-radius: 6px;
	-webkit-border-radius: 6px;
	border-radius: 6px;
	border: 1px solid #84bbf3;
	display: inline-block;
	cursor: pointer;
	color: #ffffff;
	font-family: dosis;
	font-size: 15px;
	padding: 3px 35px;
	text-decoration: none;
	text-shadow: 0px 1px 0px #528ecc;
}

.serverButton:hover {
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #80b5ea), color-stop(1, #bddbfa));
	background: -moz-linear-gradient(top, #80b5ea 5%, #bddbfa 100%);
	background: -webkit-linear-gradient(top, #80b5ea 5%, #bddbfa 100%);
	background: -o-linear-gradient(top, #80b5ea 5%, #bddbfa 100%);
	background: -ms-linear-gradient(top, #80b5ea 5%, #bddbfa 100%);
	background: linear-gradient(to bottom, #80b5ea 5%, #bddbfa 100%);
	background-color: #80b5ea;
}

.serverButton:active {
	position: relative;
	top: 1px;
}

.matchButton {
	-moz-box-shadow: inset 0px 1px 0px 0px #ffffff;
	-webkit-box-shadow: inset 0px 1px 0px 0px #ffffff;
	box-shadow: inset 0px 1px 0px 0px #ffffff;
	background: -webkit-linear-gradient(top, #CCCCB2 5%, #CCCCB2 100%);
	background: -o-linear-gradient(top, #CCCCB2 5%, #CCCCB2 100%);
	background: -ms-linear-gradient(top, #CCCCB2 5%, #CCCCB2 100%);
	background: linear-gradient(to bottom, #f9f9f9 5%, #CCCCB2 100%);
	background-color: #f9f9f9;
	-moz-border-radius: 6px;
	-webkit-border-radius: 6px;
	border-radius: 6px;
	border: 1px solid #dcdcdc;
	display: inline-block;
	cursor: pointer;
	color: #666666;
	font-family: dosis;
	font-size: 15px;
	padding: 3px 25px;
	text-decoration: none;
	text-shadow: 0px 1px 0px #ffffff;
	width: 130px;
}

.matchButton:hover {
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #e9e9e9), color-stop(1, #f9f9f9));
	background: -moz-linear-gradient(top, #e9e9e9 5%, #f9f9f9 100%);
	background: -webkit-linear-gradient(top, #e9e9e9 5%, #f9f9f9 100%);
	background: -o-linear-gradient(top, #e9e9e9 5%, #f9f9f9 100%);
	background: -ms-linear-gradient(top, #e9e9e9 5%, #f9f9f9 100%);
	background: linear-gradient(to bottom, #e9e9e9 5%, #f9f9f9 100%);
	background-color: #e9e9e9;
}

.matchButton:active {
	position: relative;
	top: 1px;
}